@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
@font-face {
	font-family: "Ubuntu";
	src: url("/fonts/Ubuntu-Regular.ttf");
}
@font-face {
	font-family: "UbuntuMono";
	src: url("/fonts/UbuntuMono-Regular.ttf");
}
@font-face {
	font-family: "Norwester";
	src: url("/fonts/norwester.otf");
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}
body {
	background-color: #f6ecea;
}

a {
	color: #2c3fff;
	font-weight: bold;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
